* {
  box-sizing: border-box;
}

#root{
  height: 100vh;
}
@media (min-width: 480px) {
  #root {
    height: initial;
  }
}

body {
  margin: 0;
  background: linear-gradient(90deg, #fc466b 0%, #3f5efb 100%);
}

/* Main */
.main {
  padding: 0 0 15px 0;
  height: 100%;
}
@media (min-width: 480px) {
  .main {
    padding: 0;
  }
}

/* Header  */
.header {
  height: 55px;
}

.cont-logo-header {
  height: 100%;
  display: flex;
  align-items: center;
}

.cont-logo-header__logo {
  height: 30px;
  width: 30px;
  margin: 0 0 0 10px;
}

/* Logos  */
.cont-logos {
  display: grid;
  justify-content: center;
  gap: 15px;
  height: 100%; 
  align-items: center;
}
@media (min-width: 480px) {
  .cont-logos {
    gap: 0;
    height: calc(100vh - 55px);
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
  }
}
@media (min-width: 720px) {
  .cont-logos {
    margin: 0 auto;
    max-width: 1000px;
  }
}

.cont-logos__logo {
  width: 120px;
  height: 120px;
  border: white;
  border-radius: 25%;
}
@media (min-width: 720px) {
  .cont-logos__logo {
    width: 150px;
    height: 150px;
  }
}

.cont-logos__logo:hover {
  cursor: pointer;
  transition-duration: 650ms;
  border: 5px solid white;
  border-radius: 50%;
}
